* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

// centering everything
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Do not want navigation bar to show in mobile version
.navigation {
    display:none;
}
.introduction__mobilenav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
//intro section layout
.introduction {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px 50px;

    &__hi {
        padding: 40px 0 30px;

    }

    &__job {
        text-align: left;
    }

    &__image {
        display:none;
    }
}

//about me section layout
.aboutme {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;

    &__heading {
        padding: 0px 0px 20px;
        text-align: center;
    }

    &__image {
        width: 80%;
        padding: 0 0 20px;
    }

    &__paragraph {
        padding: 15px 10px 20px;

    }
}

//skill section with 9 skills set out using grid
.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;

    &__description {
        padding: 20px 30px 30px;
        text-align: center;
    }

    &__visual-grid {
        place-items: center;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        text-align: center;

        .visual-grid__group {
            padding: 4px;
            
            img {
                height: 50px;
            }
        }
    }
}

//Showing projects, 3 visible in mobile version
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 4;
    
    .project-section__title{
        padding: 20px;
    }
}

.project {
        width: 90%;
        padding: 0 0 10px;
        margin-bottom: 20px;

        &__img {
            width: 100%;
            align-items: center;
            padding-bottom: 10px;
            border-radius: 8px;
        }

        &__language {
            align-items: flex-start;
            padding-top: 5px;
        }

        &__name {
            padding-bottom: 7px;
        }
        
        &__description {
            padding: 5px 0;
        }

        &__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 4px 0 10px 0;


            &--code {
                width: 100px;
                margin-right: 18px;
            }

            &--preview  {
                width: 120px;
            }
        }
    }

// hiding the three projects shown only on desktop
.project-desktop {
    display:none;
}

// layout for the footer
.footer {
    background-color: pink;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    img {
        height: 40px;
        padding: 0 5px;
    }

    &__email {
        text-decoration: none;
        padding: 20px 0 10px;
    }
}

//amending the layout for a desktop
@media screen and (min-width: 1440px) {
    //making the nav bar visible as a flex
    .navigation {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 70px 20px 90px;

        &__menu--link {
            padding: 1px;
            margin: 0 8px;
        }

        &__menu--button {
            margin: 10px;
            background-color: green;
        }
    }

//changed the intro section into a grid and added an image
    .introduction {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        padding: 100px 200px 100px 150px;
        gap: 0px;

        &__hi {
            padding-bottom: 30px;
            grid-column: 1;
        }
        &__image {
            display: block;
        }
    }

// amended the about me section into a grid
    .aboutme{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4,fr);
        gap: 10px; 
        height: auto;
        padding: 80px 120px;

        &__heading {
            grid-column: 2;
            grid-row:2;
            text-align: left;
        }
        &__image {
            grid-column: 1;
            grid-row:1/5;
            padding: 0;
            width: 85%; 
        }

        &__paragraph {
            padding: 0;
            grid-column: 2;
            grid-row:3;
        }
    }

// amended the 9 skills to a flex row and added padding etc
    .skills {

        &__description {
            padding: 10px 0;
        }

        &__visual-grid {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            
            .visual-grid__group{
                padding: 5px 15px;
            }
            }
        }
    

//amended the projects to be 3 x 2 as a grid format
    .project-section {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 100px 2fr 2fr;
        place-items: center;
        padding: 20px 100px 50px;

        &__title{
            grid-column: 1/4;
            grid-row: 1;
            text-align: center;
        }

        .project-desktop {
            display: inline-block;
            width: 90%;
            padding: 20px 0 40px;
        }
    }

// amended the layout of the footer to have email and social media on one line
    .footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 70px 20px 90px;
    }
}