* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display:none;
}

.introduction {
    background-color: green;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px 50px;

    &__hi {
        padding: 20px 0 30px;

    }

    &__job {
        text-align: left;
    }

    &__image {
        display:none;
    }
}

.aboutme {
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    align-items: center;

    &__heading {
        padding: 0px 0px 20px;
        text-align: center;
    }

    &__image {
        width: 80%;
        padding: 0 0 20px;
    }

    &__paragraph {
        padding-bottom: 13px;
    }
}

.skills {
    background-color: lightcoral;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;


    &__heading {
        padding-bottom: 15px;
    }

    &__description {
        padding-bottom: 40px;
        text-align: center;
    }

    &__visual-grid {
        place-items: center;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
        text-align: center;

        .visual-grid__group {
            padding: 4px;
            
            img {
                height: 50px;
            }
        }
    }
}

.project-section {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .project-section__title{
        padding: 20px;
    }
}
    .project {
        background-color: green;
        width: 90%;
        padding: 0 0 40px;

        &__img {
            width: 100%;
            align-items: center;
            padding-bottom: 10px;
        }

        &__language {
            align-items: flex-start;
            padding: 5px 0 8px;
        }
        
        &__description {
            padding: 10px 0;
        }

        &__button {
            display: flex;
            flex-direction: row;
            margin: 4px 0 10px 0;


            &--code {
                width: 90px;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px 10px;
                text-align: center;
                margin: 0 8px 0 0;
            }

            &--preview  {
                width: 120px;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px 10px;
                text-align: center;
                
            }
        }
    }


.project-desktop {
    display:none;
}

.footer {
    background-color: pink;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    img {
        height: 40px;
        padding: 0 5px;
    }

    &__email {
        color: white;
        text-decoration: none;
        padding: 20px 0 30px;
    }
}

@media screen and (min-width: 1440px ) {
    .navigation {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 70px 20px 90px;
        background-color: yellow;

        &__menu--link {
            padding: 10px;
        }

        &__menu--button {
            padding: 10px;
            margin: 10px;
        }
    }

    .introduction {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        padding: 100px 200px 100px 150px;
        gap: 0px;

        &__hi {
            padding-bottom: 30px;
        }
        &__image {
            display: block;
        }
    }

    .aboutme{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4,fr);
        gap: 10px; 
        height: auto;
        padding: 80px 120px;

        &__heading {
            grid-column: 2;
            grid-row:2;
            text-align: left;
        }
        &__image {
            grid-column: 1;
            grid-row:1/5;
            padding: 0;
            width: 85%; 
        }

        &__paragraph {
            padding: 0;
            grid-column: 2;
            grid-row:3;
        }
    }

    .skills {

        &__description {
            padding: 10px 0;
        }

        &__visual-grid {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            &--group {
                margin: 10px;
            }
        }
    }

    .project-section {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 100px 2fr 2fr;
        place-items: center;
        padding: 20px 100px 50px;

        &__title{
            grid-column: 1/4;
            grid-row: 1;
            text-align: center;
        }

        .project-desktop {
            display: inline-block;
            background-color: green;
            width: 90%;
            padding: 20px 0 40px;
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 70px 20px 90px;
    }
}