@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');
$font-primary: Hind Guntur, sans-serif;

$color-primary: black;
$color-button: #454b4f;
$color-white: #fafdff;
$color-footer: #deb8e6;

* {
    font-family: $font-primary;
}

// setting font size and weight
.introduction__hi {
    font-size: 16px;
    font-weight: 100;

}
.mobilenav__toggle {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    margin: 6px 0;
}

.mobilenav__toggle:active {
    transform: rotate(-180deg);
    transition: 0.5s;
    
}

// setting font size and weight to intro
.introduction__job {
    font-size: 60px;
    font-weight: 500;
    line-height: 75px;

}

// adding font sizes and weights to about me section
.aboutme {

    &__heading {
        font-weight: 600;
        font-size: 25px;
    }

    &__paragraph {
        line-height: 25px;
        font-weight: lighter;
    }
}

// adding font sizes and weights to skills section
.skills {
    &__heading {
        font-weight: 600;
        font-size: 25px;
    }

    &__description {
        font-size: 16px;
        line-height: 23px;
        font-weight: lighter;
    }
}

// adding font sizes and weights to project section
.project-section {
    &__title {
        font-weight: 600;
        font-size: 25px;
    }

    .project {
        &__language {
            font-size: 15px;
            line-height: 35px;
            font-weight: 400;
        }

        &__name {
            font-size: 30px;
            line-height: 30px;
            font-weight: 500;
        }

        &__description {
            font-size: 16px;
            line-height: 23px;
            font-weight: lighter;
        }

// styling the buttons together
        &__button--code, &__button--preview {
            border: 1px solid black;
            font-size: 16px;
            font-weight: 600;
            padding: 5px 12px 1px;
            text-decoration: none;
            color:black;
            border-radius: 5px;
            text-align: center;

//when you click on a button it changes colour
            &:active {
                background-color: $color-button;
                border: 1px solid $color-button;
                color: $color-white;

            }
        }
    }
}

//styling the footer so you can see the logos
.footer {
    background-color: $color-footer;

    &__email {
        text-decoration: none;
        color: $color-primary;
        font-weight: lighter;
    }
}

//changing styling for a desktop
@media screen and (min-width:1440px) {
    .mobilenav__toggle {
        display: none;
    }
    .navigation {

        &__name{
        font-size: 25px;
        font-weight: 400;
        }

        &__menu--link {
            text-decoration: none;
            color: $color-primary;
        }

        &__menu--button {
            border: 1px solid $color-primary;
            border-radius: 5px;
            padding: 5px 16px 1px;
            text-decoration: none;
            background-color: $color-white;
            color: $color-primary;
            font-size: 16px;
            font-weight: 500;

//changed interaction so button changes colour when you hover            
            &:hover {
                background-color: $color-button;
                border: 1px solid $color-button;
                color: $color-white;
            }
        }
    }

    .project__button--code:hover, .project__button--preview:hover {
            background-color: $color-button;
            border: 1px solid $color-button;
            color: $color-white;
            line-height: auto;
        }
    
}
