@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: none;
}

.introduction__mobilenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 40px 50px;
}
.introduction__hi {
  padding: 40px 0 30px;
}
.introduction__job {
  text-align: left;
}
.introduction__image {
  display: none;
}

.aboutme {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  align-items: center;
}
.aboutme__heading {
  padding: 0px 0px 20px;
  text-align: center;
}
.aboutme__image {
  width: 80%;
  padding: 0 0 20px;
}
.aboutme__paragraph {
  padding: 15px 10px 20px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;
}
.skills__description {
  padding: 20px 30px 30px;
  text-align: center;
}
.skills__visual-grid {
  place-items: center;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  text-align: center;
}
.skills__visual-grid .visual-grid__group {
  padding: 4px;
}
.skills__visual-grid .visual-grid__group img {
  height: 50px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 4;
}
.project-section .project-section__title {
  padding: 20px;
}

.project {
  width: 90%;
  padding: 0 0 10px;
  margin-bottom: 20px;
}
.project__img {
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 8px;
}
.project__language {
  align-items: flex-start;
  padding-top: 5px;
}
.project__name {
  padding-bottom: 7px;
}
.project__description {
  padding: 5px 0;
}
.project__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0 10px 0;
}
.project__button--code {
  width: 100px;
  margin-right: 18px;
}
.project__button--preview {
  width: 120px;
}

.project-desktop {
  display: none;
}

.footer {
  background-color: pink;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.footer img {
  height: 40px;
  padding: 0 5px;
}
.footer__email {
  text-decoration: none;
  padding: 20px 0 10px;
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 70px 20px 90px;
  }
  .navigation__menu--link {
    padding: 1px;
    margin: 0 8px;
  }
  .navigation__menu--button {
    margin: 10px;
    background-color: green;
  }
  .introduction {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    padding: 100px 200px 100px 150px;
    gap: 0px;
  }
  .introduction__hi {
    padding-bottom: 30px;
    grid-column: 1;
  }
  .introduction__image {
    display: block;
  }
  .aboutme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, fr);
    gap: 10px;
    height: auto;
    padding: 80px 120px;
  }
  .aboutme__heading {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
  }
  .aboutme__image {
    grid-column: 1;
    grid-row: 1/5;
    padding: 0;
    width: 85%;
  }
  .aboutme__paragraph {
    padding: 0;
    grid-column: 2;
    grid-row: 3;
  }
  .skills__description {
    padding: 10px 0;
  }
  .skills__visual-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .skills__visual-grid .visual-grid__group {
    padding: 5px 15px;
  }
  .project-section {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 100px 2fr 2fr;
    place-items: center;
    padding: 20px 100px 50px;
  }
  .project-section__title {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
  }
  .project-section .project-desktop {
    display: inline-block;
    width: 90%;
    padding: 20px 0 40px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 20px 90px;
  }
}
* {
  font-family: Hind Guntur, sans-serif;
}

.introduction__hi {
  font-size: 16px;
  font-weight: 100;
}

.mobilenav__toggle {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.mobilenav__toggle:active {
  transform: rotate(-180deg);
  transition: 0.5s;
}

.introduction__job {
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
}

.aboutme__heading {
  font-weight: 600;
  font-size: 25px;
}
.aboutme__paragraph {
  line-height: 25px;
  font-weight: lighter;
}

.skills__heading {
  font-weight: 600;
  font-size: 25px;
}
.skills__description {
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
}

.project-section__title {
  font-weight: 600;
  font-size: 25px;
}
.project-section .project__language {
  font-size: 15px;
  line-height: 35px;
  font-weight: 400;
}
.project-section .project__name {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}
.project-section .project__description {
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
}
.project-section .project__button--code, .project-section .project__button--preview {
  border: 1px solid black;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 12px 1px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  text-align: center;
}
.project-section .project__button--code:active, .project-section .project__button--preview:active {
  background-color: #454b4f;
  border: 1px solid #454b4f;
  color: #fafdff;
}

.footer {
  background-color: #deb8e6;
}
.footer__email {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

@media screen and (min-width: 1440px) {
  .mobilenav__toggle {
    display: none;
  }
  .navigation__name {
    font-size: 25px;
    font-weight: 400;
  }
  .navigation__menu--link {
    text-decoration: none;
    color: black;
  }
  .navigation__menu--button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 16px 1px;
    text-decoration: none;
    background-color: #fafdff;
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  .navigation__menu--button:hover {
    background-color: #454b4f;
    border: 1px solid #454b4f;
    color: #fafdff;
  }
  .project__button--code:hover, .project__button--preview:hover {
    background-color: #454b4f;
    border: 1px solid #454b4f;
    color: #fafdff;
    line-height: auto;
  }
}